#container_main_calculator {
  width: 600px;
  height: 800px;
  background: linear-gradient(to bottom, #0f0f14, #3f3e3e);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3%;
}

#display {
  width: 500px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: monospace;
  text-align: right;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  color: #333;
}

#button_container_row1 {
  width: 530px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

#button_container_row2and3 {
  width: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

#button_container_addButton {
  width: 130px;
  display: flex;
  justify-content: center;
}

#button_container_row23 {
  width: 450;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#button_container_row2 {
  display: flex;
  gap: 30px;
}

#button_container_row3 {
  display: flex;
  gap: 30px;
}

#button_container_addbutton {
  width: 150;
}

.button_regular {
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, #4567b7, #2f4d7f);
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
}

.button_regular:hover {
  background: linear-gradient(to bottom, #7a288a, #5c207f);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.6);
}

.button_regular:active {
  background: linear-gradient(to bottom, #6789c9, #4567b7);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.8);
}

#clear_button {
  background: linear-gradient(to bottom, #f7dc6f, #f2c464);
}

#clear_button:hover {
  background: linear-gradient(to bottom, #7a288a, #5c207f);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.6);
}

.button_operator {
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, #ffc499, #ffa07a);
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
}

.button_operator:hover {
  background: linear-gradient(to bottom, #7a288a, #5c207f);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.6);
}

.button_operator:active {
  background: linear-gradient(to bottom, #6789c9, #4567b7);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.8);
}

#add_button {
  height: 220px;
}
